In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/ecommerce.db')

# Check what tables we have
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
print("Tables:", tables)

# Peek at orders
orders = pd.read_sql("SELECT * FROM orders LIMIT 5", conn)
print("\nOrders sample:")
print(orders)

# Check reviews
reviews = pd.read_sql("SELECT review_score, COUNT(*) as count FROM order_reviews GROUP BY review_score", conn)
print("\nReview scores distribution:")
print(reviews)

# Tables and column Info - All Tables
print("\nDatabase Schema:")
# orders
orders_info = pd.read_sql("PRAGMA table_info(orders)", conn)
print("\nOrders table columns:")
print(orders_info)
# customers
customers_info = pd.read_sql("PRAGMA table_info(customers)", conn)
print("\nCustomers table columns:")
print(customers_info)
# order_items
order_items_info = pd.read_sql("PRAGMA table_info(order_items)", conn)
print("\nOrder_items table columns:")
print(order_items_info)
# order_reviews
order_reviews_info = pd.read_sql("PRAGMA table_info(order_reviews)", conn)
print("\nOrder_reviews table columns:")
print(order_reviews_info)
#order_payments
order_payments_info = pd.read_sql("PRAGMA table_info(order_payments)", conn)
print("\nOrder_payments table columns:")
print(order_payments_info)
#products
products_info = pd.read_sql("PRAGMA table_info(products)", conn)
print("\nProducts table columns:")
print(products_info)  
#Geolocation
geolocation_info = pd.read_sql("PRAGMA table_info(geolocation)", conn)
print("\nGeolocation table columns:")
print(geolocation_info)
#Sellers
sellers_info = pd.read_sql("PRAGMA table_info(sellers)", conn)
print("\nSellers table columns:")
print(sellers_info) 
# product category
product_category_info = pd.read_sql("PRAGMA table_info(product_category_name_translation)", conn)
print("\nProduct_category_name_translation table columns:")
print(product_category_info)
conn.close()

Tables:                                 name
0                          customers
1                        geolocation
2                        order_items
3                     order_payments
4                      order_reviews
5                             orders
6                           products
7                            sellers
8  product_category_name_translation

Orders sample:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Review scores distribution:
   review_score  count
0             1  11424
1             2   3151
2             3   8179
3             4  19142
4             5  57328

Database Schema:

Orders table columns:
   cid                           name  type  notnull dflt_value  pk
0    0                       order_id  TEXT        0       None   0
1    1                    customer_id  TEXT        0       None   0
2    2                   order_status  TEXT        0       None   0
3    3       order_purchase_timestamp  TEXT        0       None   0
4    4              order_approved_at  TEXT        0       None   0
5    5   order_delivered_carrier_date  TEXT        0       None   0
6    6  order_delivered_customer_date  TEXT        0       None   0
7    7  order_estimated_delivery_date  TEXT        0       None   0

Customers table columns:
   cid                      name     type  notnull dflt_value  pk
0    0               customer_id     TEXT        0       None   0
1    1        customer_unique_id     TEXT        0       None   0
2    2  customer_zip_code_prefix  INTEGER        0       None   0
3    3             customer_city     TEXT        0       None   0
4    4            customer_state     TEXT        0       None   0

Order_items table columns:
   cid                 name     type  notnull dflt_value  pk
0    0             order_id     TEXT        0       None   0
1    1        order_item_id  INTEGER        0       None   0
2    2           product_id     TEXT        0       None   0
3    3            seller_id     TEXT        0       None   0
4    4  shipping_limit_date     TEXT        0       None   0
5    5                price     REAL        0       None   0
6    6        freight_value     REAL        0       None   0

Order_reviews table columns:
   cid                     name     type  notnull dflt_value  pk
0    0                review_id     TEXT        0       None   0
1    1                 order_id     TEXT        0       None   0
2    2             review_score  INTEGER        0       None   0
3    3     review_comment_title     TEXT        0       None   0
4    4   review_comment_message     TEXT        0       None   0
5    5     review_creation_date     TEXT        0       None   0
6    6  review_answer_timestamp     TEXT        0       None   0

Order_payments table columns:
   cid                  name     type  notnull dflt_value  pk
0    0              order_id     TEXT        0       None   0
1    1    payment_sequential  INTEGER        0       None   0
2    2          payment_type     TEXT        0       None   0
3    3  payment_installments  INTEGER        0       None   0
4    4         payment_value     REAL        0       None   0

Products table columns:
   cid                        name  type  notnull dflt_value  pk
0    0                  product_id  TEXT        0       None   0
1    1       product_category_name  TEXT        0       None   0
2    2         product_name_lenght  REAL        0       None   0
3    3  product_description_lenght  REAL        0       None   0
4    4          product_photos_qty  REAL        0       None   0
5    5            product_weight_g  REAL        0       None   0
6    6           product_length_cm  REAL        0       None   0
7    7           product_height_cm  REAL        0       None   0
8    8            product_width_cm  REAL        0       None   0

Geolocation table columns:
   cid                         name     type  notnull dflt_value  pk
0    0  geolocation_zip_code_prefix  INTEGER        0       None   0
1    1              geolocation_lat     REAL        0       None   0
2    2              geolocation_lng     REAL        0       None   0
3    3             geolocation_city     TEXT        0       None   0
4    4            geolocation_state     TEXT        0       None   0

Sellers table columns:
   cid                    name     type  notnull dflt_value  pk
0    0               seller_id     TEXT        0       None   0
1    1  seller_zip_code_prefix  INTEGER        0       None   0
2    2             seller_city     TEXT        0       None   0
3    3            seller_state     TEXT        0       None   0

Product_category_name_translation table columns:
   cid                           name  type  notnull dflt_value  pk
0    0          product_category_name  TEXT        0       None   0
1    1  product_category_name_english  TEXT        0       None   0